<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
  </packageSources>
  <fallbackPackageFolders>
    <clear />
    <add key="UWP Visual Studio fallback packages" value="C:\Program Files (x86)\Microsoft SDKs\UWPNuGetPackages" />
  </fallbackPackageFolders>
</configuration>
